-
  var headerMenu = [
    {
      title: 'Main',
      url: '/index.html'
    },
    {
      title: 'Partners',
      url: '/partners.html'
    },
    {
      title: 'Services and technologies',
      url: 'services-and-technologies.html'
    },
    {
      title: 'Reach us',
      url: '#'
    }
  ]