-
  var headerMenu = [
    {
      title: 'Partners',
      url: '#'
    },
    {
      title: 'Services and technologies',
      url: '#'
    },
    {
      title: 'Reach us',
      url: '#'
    }
  ]