-
  var headerMenu = [
    {
      title: 'Main',
      url: '/index.html'
    },
    {
      title: 'Projects and Partners',
      url: '/partners.html'
    },
    {
      title: 'Services and Technologies',
      url: 'services-and-technologies.html'
    },
    {
      title: 'Reach Us',
      url: '#'
    }
  ]