-
  var projects = [
    {
      title: 'Стрижки',
      props: [
        {
          about: '',
          challenge: '',
          solution: ''

        },
        {
          about: '',
          challenge: '',
          solution: ''
        }
      ]
    }
  ]