-
  var teamSlides = [
    {
      title: 'Lets you forget about the tech hazzle',
      img: '/assets/images/team-slider/slide-1.svg'
    },
    {
      title: 'Helps you to bring your ideas from scratch to live version',
      img: '/assets/images/team-slider/slide-2.svg'
    },
    {
      title: 'Can help with your live product',
      img: '/assets/images/team-slider/slide-3.svg'
    },
    {
      title: 'Consults you on the correctness of your tech decisions',
      img: '/assets/images/team-slider/slide-4.svg'
    }
  ]