.footer-block
  padding 120px 60px 60px
  display flex
  justify-content space-between
  flex-direction column
  height 100%
  @media (max-width 1280px)
    padding-top 90px
  *
    outline none

  .main-heading
    line-height 100%
    font-weight 600
    font-size 2em
    text-transform capitalize

  .social-links
    a
      margin-right 15px
      &:hover
        color color-green