.partners
	padding 8em 3.5em 3.5em

	h2
		font-size 2.4em

	h4
		font-size 1.4em
	a
		color: color-green

	&__name
		margin-bottom 0.25em
	&__logo
		display flex
		margin auto
		padding 10px
		width 200px
		height 200px
		border-radius 50%
		background-color #fff
		overflow hidden
		border 2px solid color-green
		&.fhr
			background-color #181724
		img
			object-fit contain
	&__block
		width 70%
		margin-bottom 1em

	&__title
		margin-bottom 0.25em

	&__list
		list-style: circle outside;
		margin-left 25px