.partners
	padding 8em 3.5em 3.5em

	h2
		font-size 2.5em

	h4
		font-size 1.5em
	a
		color: color-green

	&__name
		margin-bottom 0.25em

	&__block
		width 70%
		margin-bottom 1em

	&__title
		margin-bottom 0.25em

	&__list
		list-style: circle outside;
		margin-left 25px