mixin b-main-video()
	.section-video.section
		video#myVideo(loop='', muted='', data-autoplay='')
			source(src='https://d2ezlykacdqcnj.cloudfront.net/office-typing-side-on/office-typing-side-on.mp4', type='video/mp4')
		.layer
			h1 Qualified software development services
