include button-main/button-main
include headline/headline
include main-video/main-video
include brands-of-goods/brands-of-goods
include partners/partners
include tech/tech
include reach_us/reach_us
include header/header
include footer/footer
include slider/slider
