
.reach-us {
	* {
		outline none
	}
	::-webkit-input-placeholder{
		color: rgba(255,255,255, 0.8);
	}
	::-moz-placeholder{
		color: rgba(255,255,255, 0.8);
	}
	:-ms-input-placeholder{
		color: rgba(255,255,255, 0.8);
	}
	:-moz-placeholder {
		color: rgba(255,255,255, 0.8);
	}
	form,
	label,
	input {
		display block
	}
	// main styles
	main {
		display block
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		z-index 10
	}

	.main-heading {
		line-height 100%
		font-weight 600
		font-size 2em
		text-transform capitalize
	}

	.popup-trigger {
		width 175px
		margin auto
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		box-shadow 0 0 25px 0 rgba(0, 0, 0, .05)
	}

	.overlay {
		width 100%
		height 100%
		overflow auto
		float left
		position fixed
		top 0
		left 0
		z-index 5
		opacity 0
		transform translateY(100vh)
		transition opacity 0.5s, transform 0.5s, z-index 0s 0.5s

		.overlay-background {
			background-color rgba(94, 166, 53, .95)
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			z-index 5
		}

		.overlay-content {
			width 100%
			max-width 530px
			margin 100px auto 0
			padding 0 15px
			color #fff
			position relative
			z-index 10
			@extend .animate

			.overlay-close {
				display block
				font-size 2em
				cursor pointer
				position absolute
				top 0
				right 15px
				@extend .animate

				&:hover {
					opacity .8
				}
			}
		}

		&.open {
			z-index 15
			opacity 1
			transform translateY(0)
			transition opacity 0.5s, transform 0.5s, z-index 0s
		}

		&.short .overlay-content {
			margin 30px auto
		}
	}

	@media (max-width 600px) {

		.overlay .overlay-content {
			margin 25px auto
		}
	}
	#thankyou_message {
		margin-top 30px
	}
}
