mixin b-reach-us()
	.reach-us
		#overlay.overlay
			#overlay-background.overlay-background
			#overlay-content.overlay-content
				#overlay-close.overlay-close
					.fa.fa-times
				+b-reach-us-form(class="modal-form", id="gform", message_id ="thankyou_message", action="https://script.google.com/macros/s/AKfycby_miOs6-p0o8ZCd7qVY0sGag-UPk51efslenK2w0TjdIhQNa8/exec")