@import 'styles/reset'
@import '../../node_modules/fullpage.js/dist/jquery.fullpage.css'
@import 'styles/vars'
@import 'styles/mixins'
@import 'styles/fonts'
@import 'styles/main'
@import 'styles/buttons'
@import '../blocks/*'


