extends layouts/main


append params
  - pageTitle = "MasterDynamix"
  - activeMenuIndex = 0

block content
  +b-header(headerMenu, activeMenuIndex)
  #fullpage
    +b-main-video()
    .section.key-to-success
        .container
          .row
            .col-md-12
                h2 Your success is the key
                p Here at MasterDynamix we prefer a long-term partnership with our clients.
                p Focusing on your business goals helps us better understand the keys to your project's success.

            .col-md-12
              .padding-top-lg
                a.btn.btn-main Reach us
                |  to get more details
    .section
      .container
        h1 Our team
        +b-slider(teamSlides)
    .section
      +b-tech()
    .section
      .footer-block
        .wrapper
          .offset-md-3.col-md-6
            //+b-reach-us-form(class="dark")
        .wrapper.padding-top-md
          h1 Contacts
          .flex-between-row
            div sales@masterdynamix.com
            .social-links
              a(href='')
                .fab.fa-2x.fa-facebook-square
              a(href='')
                .fab.fa-2x.fa-linkedin
          .flex-around-row
            div &copy 2018 masterdynamix.com
