extends layouts/main


append params
  - pageTitle = "MasterDynamix"
  - activeMenuIndex = 0

block content
  +b-header(headerMenu, activeMenuIndex)
  #fullpage
    +b-main-video()
    .section
      .container
        h2 Your success is the key

        p Here at MasterDynamix we prefer a long-term partnership with our clients. Focusing on your business goals helps us better understand the keys to your project's success

        p 'Reach us' to get more details
    .section
      .container
        h1 Our team
        //#slide1.slide
        //	h1 Slide Backgrounds 1
        //#slide2.slide
        //	h1 Slide Backgrounds 2
        p Lets you forget about the tech hazzle
        p Helps you to bring your ideas from scratch to live version
        p Can help with your live product
        p Consults you on the correctness of your tech decisions
    .section
      .container
        h1 Brands
        +b-brands-of-goods(brandsImages)
    .section
      +b-tech()
    .section
      .footer-block
        .flex-around-row
        h1 Contacts
        .flex-between-row
          div sales@masterdynamix.com
          .social-links
            a(href='')
              .fab.fa-2x.fa-facebook-square
            a(href='')
              .fab.fa-2x.fa-linkedin
        .flex-around-row
          div &copy 2018 masterdynamix.com
