html 
body
	color #0d0d0d
	font-size 17px
	font-weight 500
	line-height 1.5
	font-family futura
body

*
	box-sizing border-box
	
.container
	max-width 100%
	margin 0 auto
	@media lg
		max-width 960px
	@media xl
		max-width 1170px
	@media xxl
		max-width 1530px
a 
	&,
	&:active,	
	&:focus,	
	&:hover,	
	&:visited
		text-decoration none
		cursor pointer

a
	position: relative
	color: inherit
	text-decoration: none
	&:before, &:after
		content: ''
		position: absolute
		transition: transform .3s ease

.link-effect
	display: inline-block
	overflow: hidden
	&:before
		left: -1px
		bottom: 0
		width: 100%
		height: 3px
		background-color: color-green
		transform: translateX(-100%)
	&:hover:before
		transform: translateX(0)

button
	outline none


.clearfix
	&::after
		content: ''
		clear both
		display table
		overflow hidden

#fp-nav ul li a span,
.fp-slidesNav ul li a span
	background color-green

#fp-nav ul li .fp-tooltip
	color color-green

.fp-controlArrow
	&.fp-next
		right 200px
	&.fp-prev
		left 200px

.flex-around-row
	display flex
	justify-content space-around
.flex-between-row
	display flex
	justify-content space-between