mixin b-header(menuItems, activeMenuIndex)
  +b.header
    +e.logo
    +e(ul).menu
      each item, index in menuItems
        - var classes = ''
        li
          if index == activeMenuIndex
            - classes = 'active'
          +e(a).item.link-effect(href= item.url, class=classes, data-open=item.id ? item.id : '')=item.title

  +b-reach-us()