

.header
  position fixed
  z-index 2
  top 0
  color: color-green
  width 100%
  height 120px
  padding 0 30px
  display flex
  align-items center
  justify-content space-between
  transition: top 0.15s;

  &__logo
    background-image url("images/MasterDynamix_Logo.svg")
    background-position left center
    background-repeat no-repeat
    background-size contain
    display block
    height 90px
    width 176px
  &__menu
    display flex
    list-style-type none
    a
      color:  #0d0d0d
      //text-shadow 0.5px -0.5px 0 color-green
      font-weight 600
      font-size 23px
      display block
      line-height 30px
      height 36px
      margin 0 0 0 30px
      &.link-effect
        &:before
          height 2px
          background-color #0d0d0d
